@model IEnumerable<Estoque.App.Models.ProdutoView>

@{
    ViewData["Title"] = "Produtos";
}

<div class="card bg-transparent border-0 h-100">
    <div class="card-header bg-transparent border-0"><h1>@ViewData["Title"]</h1></div>
    <div class="card-body py-2">
        <div class="card p-0 shadow">
            <div class="card-body">
                <table class="table table-sm table-borderless table-striped">
                    <thead>
                        <tr>
                            <th class="estoque-column-action"><a asp-action="Create" tooltip="Inserir" class="btn btn-primary"><i class="fas fa-file"></i> Inserir</a></th>
                            <th>#</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Descricao)
                            </th>
                            <th>Categoria</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td class="estoque-column-action">
                                <a asp-action="Details" asp-route-id="@item.Id" title="Visualizar" class="btn btn-sm btn-success"><i class="fas fa-eye"></i></a>
                                <a asp-action="Edit" asp-route-id="@item.Id" title="Alterar" class="btn btn-sm btn-secondary"><i class="fas fa-pencil-alt"></i></a>
                                <a asp-action="Delete" asp-route-id="@item.Id" title="Excluir" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descricao)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CategoriaDescricao)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
